body {
  font-family: "Jura";
  color: #362552;
  background-color: #FDFEF8;
}

.layout-header {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  margin-bottom: 10px;
  background-color: #FDFEF8;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 10px 0px;
}

.layout-body {
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  height: 100vh;
  padding-top: 60px;
}

.link {
  text-decoration: none;
}

#create-post-link {
  margin-right: 20px;
}

#create-post-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

#create-post-body input, textarea {
  background-color: #e1e1e1;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  height: 40px;
  margin-bottom: 10px;
  width: 60%;
}

textarea {
  resize: none;
  padding: 5px 10px;
  height: 200px;
}

#search-bar {
  width: 50em;
  height: 40px;
  background-color: #C7C7C7;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}

#app-logo {
  filter: drop-shadow(rgba(0, 0, 0, 0.767) 0px 4px 4px);
}

.submit-button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  font-family: "Imprima";
  background-color: #e1e1e1;
  border: #362552 solid;
}

.submit-button:hover {
  background-color: #C7C7C7;
}

::placeholder, textarea, input {
  font-family: "Imprima";
}

/* post-item styling */
.post-items {
  margin: 50px 50px;
}
.post-item {
  background-color: #d9d9d9cc;
  border-radius: 8px;
  margin-bottom: 30px;
}

.post-item h2, h5 {
  margin: 0px 10px;
  padding: 5px;
}

.post-item:hover {
  background-color: #FDFEF8;
}

.view-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#comment {
  margin-top: 10px;
  height: 20px;
}

.comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #C7C7C7;
  margin-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sort-button {
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  font-family: "Imprima";
  padding: 5px 8px;
  border-radius: 3px;
  background-color: #C7C7C7;
  color: #362552;
}

.sort-button:hover {
  background-color: #FDFEF8;
}

.comment-entry {
  font-size: 20px;
  background-color: 100px;
}

@font-face {
  font-family: "Jura";  
  src: local("Jura"),
    url("./fonts/Jura-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Imprima";  
  src: local("Imprima"),
    url("./fonts/Imprima-Regular.ttf") format("truetype");
}